Repository sillyangel/sillyapi, changes with the labels that .github/labeler.yml gives for each.
All labels: modules, documentation, .github

ah
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-failing-test.md
  .github/ISSUE_TEMPLATE/3-docs-bug.md
  .github/ISSUE_TEMPLATE/4-feature-request.md
  .github/ISSUE_TEMPLATE/5-enhancement-request.md
  .github/ISSUE_TEMPLATE/6-security-report.md
  .github/ISSUE_TEMPLATE/7-question-support.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: documentation, .github

workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/manual.yml
  .github/workflows/npm-publish-github-packages.yml
  .github/workflows/npm-publish.yml
Labels: .github

fix
  index.js
  modules/log.js
  package.json
Labels: modules

fix
  .github/workflows/npm-publish-github-packages.yml
Labels: .github

lock
  README.md
  package-lock.json
Labels: documentation

thing
  dist/Client.js
  index.js
Labels: none

fj
  index.js
Labels: none

.github/labeler.yml:

modules:
  - any: ["modules/**/*"]

documentation:
  - any: ["**/*.md"]

.github:
  - any: [".github/**/*"]
